<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="glaDOS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="glaDOS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <glaDOS2.Properties.Settings>
            <setting name="NombreU" serializeAs="String">
                <value>Tronax</value>
            </setting>
            <setting name="NombreA" serializeAs="String">
                <value>Escarlata</value>
            </setting>
            <setting name="Voz" serializeAs="String">
                <value>Microsoft David Desktop</value>
            </setting>
            <setting name="Opacidad" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Confidencia" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="CodigoC" serializeAs="String">
                <value>ARBA0009</value>
            </setting>
            <setting name="mnB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="arB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="asiB" serializeAs="String">
                <value>False</value>
            </setting>
        </glaDOS2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <glaDOS2.Properties.Settings>
            <setting name="sdsd" serializeAs="String">
                <value />
            </setting>
        </glaDOS2.Properties.Settings>
    </applicationSettings>
</configuration>